<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="bundle.css" rel="stylesheet"/>
		<title>Welcome to Mesh</title>
	</head>
  <body class="mdc-typography">
		<%- include('top-nav'); -%>
		<div class="wrapper">
