<nav class="navbar">
  <div class="logo">
    Mesh
  </div>
  <div class="buttons">
    <a href="/login">
      <button class="mdc-button mdc-button--raised button--raised margin-right">
        <span class="mdc-button__ripple button__ripple"></span>
        <span class="mdc-button__focus-ring button__focus-ring"></span>
        <span class="mdc-button__label button-label">Login</span>
      </button>
    </a>
    <a href="/signup">
      <button class="mdc-button mdc-button--raised button--raised">
        <span class="mdc-button__ripple button__ripple"></span>
        <span class="mdc-button__focus-ring button__focus-ring"></span>
        <span class="mdc-button__label button-label">Sign Up</span>
      </button>
    </a>
    
  </div>
  
  <!-- <a class="text-gray-500 font-medium " href="/login">Login</button>
  <a href="/signup">Sign Up</a> -->
</nav>