
@use "@material/theme" with (
  $primary: #266ea6,
  $on-primary: #fff
);

@use "@material/typography/mdc-typography";
@use "@material/button/styles";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include textfield.core-styles;

$mesh-blue: #349beb;
$mesh-dark-blue: #266ea6;
$button-margin: 10px;
$margin-bottom: 20px;
$nav-container-height: 60px;

body {
  color: #000;
  margin: 0;

  a {
    text-decoration: none;
  }
  .wrapper {
    padding: 20px;
  }

  

  .margin-right {
    margin-right: $button-margin;
  }

  
}

.navbar {
  padding: 0 20px;
  background-color: $mesh-blue;
  height: $nav-container-height;

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $nav-container-height;
  }
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    
    justify-content: center;
    max-width: 50%;
  }
  .buttons {
    max-width: 50%;

    .button--raised {
      margin: 0;
      color: #fff;
    }
  }
}

.signup__page {
  display: block;
  width: 30%;
  margin: auto;
}
.signup__form {
  
}
.form-field{
  display: block;
  margin-bottom: $margin-bottom;
  width: 100%;
}