
@use "@material/theme" with (
  $primary: #349beb,
  $on-primary: #fff
);

@use "@material/typography/mdc-typography";
@use "@material/button/styles";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include textfield.core-styles;

$mesh-blue: #349beb;
$mesh-dark-blue: #266ea6;
$button-margin: 10px;
$margin-bottom: 20px;


body {
  color: #000;

  a {
    text-decoration: none;
  }
  .wrapper {
    padding: 20px;
  }

  .navbar {
    display: flex;
    margin: 20px 0;
    padding: 0 20px;
    justify-content: space-between;

    .logo {
      font-size: 1.5em;
      font-weight: bold
    }
    .buttons {
      .button--raised {
        margin: 0;
        color: #fff;
      }
    }
  }

  .margin-right {
    margin-right: $button-margin;
  }

  .form-field{
    display: block;
    margin-bottom: $margin-bottom;
    width: 40%;
  }
}